<nav class="rr-navbar" role="navigation">
    <ul class="rr-nav">
      <li class="rr-navbar-item">
        <LinkTo @route="artists.artist.details">Details</LinkTo>
      </li>
      <li class="rr-navbar-item">
        <LinkTo @route="artists.artist.songs">Songs</LinkTo>
      </li>
    </ul>
</nav>
{{outlet}}